<section class="app-domain-container">

  <header class="app-domain-header">
    <div class="side-container">
      <span>Task board</span>
      <i>Available tasks: {{ tasksList.length }}</i>
    </div>

    <div class="side-container" [ngStyle]="{ 'display': tasksList.length ? 'flex' : 'none' }">
      <button class="app-button-rounded" (click)="addNew()">
        <i class="pi pi-plus-circle"></i>
      </button>

      <button class="app-button-primary"
              (click)="deleteAll()" [disabled]="isDeleteAllButtonDisabled">
        Delete all
      </button>

    </div>
  </header>

  <div class="app-domain-content" *ngIf="tasksList.length > 0; else emptyTasksList">
    <table *ngIf="!isDeviceMobile; else taskCardsView">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Create at</th>
          <th>Modified at</th>
          <th>State</th>
          <th>Assignee</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <app-task-table-row
          *ngFor="let task of tasksList; trackBy: trackByTaskId"
          [task]="task">
        </app-task-table-row>
      </tbody>
    </table>
  </div>

  <ng-template #taskCardsView>
    <app-task-card *ngFor="let task of tasksList; trackBy: trackByTaskId" [task]="task"></app-task-card>
  </ng-template>

  <ng-template #emptyTasksList>
    <div class="app-domain-empty-container">
      <h4>No available tasks</h4>
      <button class="app-button-primary" (click)="addNew()">
        <i class="pi pi-plus-circle"></i>
        Add new task
      </button>
    </div>
  </ng-template>

</section>
