<form class="app-tasks-create-update" [formGroup]="form">

  <h4>{{ isUpdateMode ? 'Update' : 'Create' }} task</h4>

  <app-task-state-badges
    *ngIf="isUpdateMode && taskToUpdate"
    [initialBadgeState]="taskToUpdate.state"
    (selectedBadge)="selectedTaskState($event)">
  </app-task-state-badges>

  <div class="app-form-group-input">
    <label for="name">Name</label>
    <input id="name" type="text" placeholder="Provide task name" formControlName="name" />

    <div class="app-form-group-input-errors"
         *ngIf="form.controls.name.invalid && form.controls.name.dirty || form.controls.name.touched">
      <span *ngIf="form.controls.name.errors?.['required']">This field is required</span>
    </div>
  </div>

  <div class="app-form-group-input">
    <label for="description">Description</label>
    <textarea id="description" type="text" placeholder="Provide task description" formControlName="description"></textarea>

    <div class="app-form-group-input-errors"
         *ngIf="form.controls.description.invalid && form.controls.description.dirty || form.controls.description.touched">
      <span *ngIf="form.controls.description.errors?.['required']">This field is required</span>
    </div>
  </div>

  <div *ngIf="showErrorWhenNoUserAssignedToTaskInProgress" class="app-task-without-user-error">
    <span>No selected user for task</span>
  </div>

  <app-user-select
    *ngIf="isUpdateMode"
    [user]="taskToUpdate && taskToUpdate.assignee"
    [task]="taskToUpdate"
    (onSelectedUser)="selectedUser($event)">
  </app-user-select>

  <button type="button"
          class="app-button-primary"
          *ngIf="!isUpdateMode" [disabled]="form.invalid" (click)="createTask()">
    <span>Create task</span>
  </button>

  <button type="button"
          class="app-button-primary"
          *ngIf="isUpdateMode"
          [disabled]="form.invalid || showErrorWhenNoUserAssignedToTaskInProgress"
          (click)="updateTask()">
    <span>Update task</span>
  </button>

</form>
