@import "../../variables";
@import "../../assets/mixins/task-state-badge.mixin";

@mixin domain-scaffold() {

  .app-domain-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .app-domain-header {
      display: flex;
      border-bottom: 1px solid $border-color;

      .side-container {
        display: flex;
        flex-direction: column;
        flex: 1;

        &:last-of-type {
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          button {
            &:not(&:last-of-type) {
              margin: 0 10px;
            }
          }
        }
      }

      span {
        font-size: 18px;
        margin-bottom: 10px;
      }

      i {
        font-size: 10px;
        margin-bottom: 5px;
      }
    }

    .app-domain-content {
      height: 100%;
      overflow: auto;
      padding-top: 20px;

      table {
        width: 100%;
        user-select: none;
        border-collapse: separate;
        border-spacing: 0 10px;
        font-size: 14px;

        thead {

          tr {
            border-collapse: collapse;

            th {
              text-align: left;
              padding-left: 10px;

              &:last-of-type {
                text-align: right;
              }

              input {
                margin: 0;
              }
            }
          }

        }

        tbody {

          .app-tasks-table-row {
            height: 50px;
            background-color: $element-background-color;
            margin-bottom: 10px;
            transition: $common-transition;
            cursor: pointer;

            &:hover {
              opacity: $common-opacity;
            }

            td {
              padding-left: 10px;
              vertical-align: middle;
              animation-name: fadeIn;
              animation-duration: $common-animation-duration;

              &.app-task-description {
                max-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .app-task-assignee {
                display: flex;
                align-items: center;

                app-user-avatar {
                  margin-right: 10px;
                }
              }

              &:first-of-type {

                input {
                  margin: 0;
                }

              }

              &:last-of-type {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: inherit;
                width: inherit;

                button {
                  margin: 0 10px;
                }
              }
            }
          }

        }
      }
    }

    .app-domain-empty-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: inherit;
    }
  }

  @include task-state-badge-mixin;

}
