<div class="app-user-card" *ngIf="user">

  <div class="app-user-card-container">

    <div class="app-user-card-info">

      <div class="side-container">
        <img [src]="user.avatarBae64" alt="{{ user.firstName }} {{ user.lastName }}" />
      </div>

      <div class="side-container">
        <span>{{ user.firstName }} {{ user.lastName }}</span>
      </div>

    </div>

    <div class="app-user-card-actions">

      <button class="app-button-rounded" (click)="update(user)">
        <i class="pi pi-pencil"></i>
      </button>

      <button class="app-button-rounded" (click)="delete()">
        <i class="pi pi-trash"></i>
      </button>

    </div>

  </div>

  <div class="app-user-card-content" *ngIf="user.task">

    <div class="app-user-task">
      <span>{{ user.task.name }}</span>
      <span class="app-task-state-badge"
            [ngClass]="{
              'in-queue': (user.task.state | taskState : true) === TaskStateEnum.InQueue,
              'in-progress': (user.task.state | taskState : true) === TaskStateEnum.InProgress,
              'done': (user.task.state | taskState : true) === TaskStateEnum.Done
            }">
        {{ user.task.state | taskState }}
      </span>
    </div>

  </div>

</div>
