@import "../../../../variables";
@import "../../../../assets/mixins/task-state-badge.mixin";

.app-user-card {
  display: flex;
  flex-direction: column;
  background-color: $element-background-color;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: $border-radius;
  animation-name: fadeIn;
  animation-duration: $common-animation-duration;
  min-width: 400px;
  max-width: 400px;

  .app-user-card-container {
    display: flex;

    .app-user-card-info {
      display: flex;
      flex: 1;

      .side-container {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 100%;
          margin: 0 10px;
        }
      }

    }

    .app-user-card-actions {
      display: flex;
      justify-content: flex-end;
      flex: 1;

      button {
        margin: 0 10px;
      }
    }
  }

  .app-user-card-content {
    padding: 0 10px;

    .app-user-task {
      display: flex;
      align-items: center;
      font-size: 14px;

      @include task-state-badge-mixin;

      &.no-assignments-container {
        color: $warn-color;
      }

      span {
        margin: 10px 0;

        &:first-of-type {
          margin-right: 20px;
          font-style: italic;
        }
      }
    }
  }
}
