<aside class="app-sidebar" *ngIf="!isDeviceMobile || (sidebarToggle$ | async)">

  <ul>
    <li>
      <a routerLink="/tasks"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         (click)="closeSidebar()">
        <i class="pi pi-link"></i>
        Tasks
      </a>
    </li>
    <li>
      <a routerLink="/users"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         (click)="closeSidebar()">
        <i class="pi pi-link"></i>
        Users
      </a>
    </li>
  </ul>

</aside>
