@import "../../../../variables";

.app-sidebar {
  width: 250px;
  height: 100%;
  padding: 10px;
  border-right: 1px solid $border-color;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
      height: 40px;
      margin-bottom: 10px;

      a {
        display: inline-flex;
        align-items: center;
        height: inherit;
        width: 100%;
        text-decoration: none;
        color: $main-text-color;
        transition: $common-transition;

        &.active {
          border-left: 3px solid $border-color;
          background-color: $element-background-color;
        }

        &:hover {
          background-color: $element-background-color;
        }

        i {
          margin: 0 10px;
        }

      }

    }

  }
}
