@import "../../../../variables";

.app-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0 10px;
  border-bottom: 1px solid $border-color;

  .app-nav-bar-logo {
    display: flex;
    align-items: center;

    img {
      width: 25px;
      height: 25px;
    }

    span {
      margin-left: 10px;
    }
  }

  .app-nav-bar-actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 10px;
    }
  }
}
