@import "primeicons/primeicons.css";

@import "./variables";
@import "./assets/mixins/button.mixin";
@import "./assets/mixins/form-group-input.mixin";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $main-text-color;
  font-family: sans-serif;
  background-color: $main-background-color;

  @include app-button;
  @include form-group-input;
}
