@import "primeicons/primeicons.css";

@import "./variables";
@import "./assets/mixins/button.mixin";
@import "./assets/mixins/form-group-input.mixin";
@import "./assets/mixins/domain-scaffold.mixin";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $main-text-color;
  font-family: sans-serif;
  background-color: $main-background-color;

  @include app-button;
  @include form-group-input;

  // Animation effects
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
