// Background colors
$main-background-color: #3a3a3a;
$element-background-color: #454545;
$opacity-background: #00000052;

// text colours
$main-text-color: #f8f8f8;
$secondary-text-color: #f8f8f8;

// state colours
$in-queue-color: #CFD7C7;
$in-progress-color: #70A9A1;
$done-color: #4DA167;

// border and box-shadows
$border-radius: 8px;
$border-color: #757575;
$common-box-shadow:
  rgba(17, 17, 26, 0.05) 0 1px 0,
  rgba(17, 17, 26, 0.1) 0 0 8px;

// buttons
$main-button-color: #9f72cd;

// animation and opacity
$common-opacity: 0.6;
$common-transition: 0.3s ease-in;
