@import "../../../../variables";

.app-users-select-container {
  display: flex;
  flex-direction: column;
  background-color: $element-background-color;
  border-radius: $border-radius;
  height: 40px;
  margin: 10px 0;
  cursor: pointer;
  position: relative;
  width: 100%;

  .app-users-select-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0 10px;
    font-size: 12px;

    i.pi {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: $common-transition;

      &:hover {
        color: $main-button-color;
      }
    }

  }

  .app-users-select-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    background-color: $element-background-color;
    border-radius: $border-radius;
    padding: 10px 0;
    z-index: 1;
    max-height: 160px;
    min-height: 40px;
    overflow: auto;
    animation-name: appear;
    animation-timing-function: ease-in;
    animation-duration: $common-appear-animation-duration;

    .app-user-select-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 10px;
      margin-bottom: 15px;
      transition: $common-transition;
      font-size: 12px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:hover {
        opacity: $common-opacity;
        color: $secondary-text-color;
      }

      &.selected {

        img {
          outline: 3px solid $main-button-color;
        }

        span {
          font-weight: bold;
          color: $main-button-color;
        }

      }

      &.disabled {
        cursor: default;
        opacity: $common-disable-opacity;
      }

      app-user-avatar {
        margin-right: 10px;
      }
    }
  }
}
