<div class="app-users-select-container"
     appClickOutside
     (clickOutside)="clickedOutside()">

  <div class="app-users-select-header" (click)="openList()">
    <span>{{ selectedUser ? selectedUser.firstName + ' ' + selectedUser.lastName : 'Select user' }}</span>
    <i class="pi" *ngIf="!selectedUser"
       [ngClass]="{
        'pi-chevron-circle-down': !isUsersListOpened,
        'pi-chevron-circle-up': isUsersListOpened
       }"></i>
    <i class="pi pi-times-circle" *ngIf="selectedUser" (click)="clearSelection($event)"></i>
  </div>

  <div class="app-users-select-content" *ngIf="isUsersListOpened">

    <ng-container *ngIf="usersList && usersList.length; else emptyUsersList">

      <div class="app-user-select-card"
           *ngFor="let user of usersList"
           (click)="selectUser(user)"
           [ngClass]="{ 'selected': selectedUser && selectedUser.id === user.id, 'disabled': user.disabled }">

        <app-user-avatar
          [src]="user.avatarBase64"
          alt="{{ user.firstName }} {{ user.lastName }}">
        </app-user-avatar>

        <span>
          {{ user.firstName }} {{ user.lastName }}
          {{ user.disabled ? ' - ' + user.task?.name + ' ' + (user.task?.state! | taskState) : '' }}
        </span>
      </div>

    </ng-container>

    <ng-template #emptyUsersList>
      <div class="app-user-select-card">
        <span>No available users</span>
      </div>
    </ng-template>

  </div>

</div>
